
USE [Planning]
GO 
/****** Object:  Table [dbo].[Contient]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Contient](
	[CODE_OF] [varchar](10) NOT NULL,
	[CODE_FICHE] [varchar](16) NOT NULL,
	[T_AN] [real] NOT NULL,
	[T_AS] [real] NOT NULL,
	[T_PN] [real] NOT NULL,
	[T_PS] [real] NOT NULL,
	[T_PM] [real] NOT NULL,
	[T_PE] [real] NOT NULL,
	[T_S_CH] [real] NOT NULL,
	[T_MAN] [real] NOT NULL,
	[T_NET] [real] NOT NULL,
	[T_RET] [real] NOT NULL,
	[T_ABS] [real] NOT NULL,
	[T_CL] [real] NOT NULL,
	[T_D] [real] NOT NULL,
	[sect] [varchar](45) NULL,
 CONSTRAINT [PK_contient] PRIMARY KEY CLUSTERED 
(
	[CODE_OF] ASC,
	[CODE_FICHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[date]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[date](
	[CODE] [int] IDENTITY(1,1) NOT NULL,
	[Mois] [varchar](16) NULL,
	[annee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fiche_mens]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fiche_mens](
	[CODE_FICHE] [varchar](16) NOT NULL,
	[HD] [real] NOT NULL,
	[MAT_OP] [varchar](8) NULL,
	[code_date] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_FICHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[operateur]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[operateur](
	[MAT_OP] [varchar](8) NOT NULL,
	[NOM] [varchar](45) NOT NULL,
	[PRENOM] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAT_OP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDF]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDF](
	[CODE_OF] [varchar](10) NOT NULL,
	[RACINE] [varchar](10) NULL,
	[QTE_PD] [int] NOT NULL,
	[CODE_PROD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_OF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[produit]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produit](
	[CODE_PROD] [int] NOT NULL,
	[DSG_PROD] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[section]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[section](
	[CODE_SECT] [int] NOT NULL,
	[DESG_SECT] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_SECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TMP_INSERT]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TMP_INSERT](
	[CODE_OF] [varchar](10) NULL,
	[CODE_FICHE] [varchar](16) NULL,
	[dsg_produit] [varchar](45) NULL,
	[dsg_section] [varchar](45) NULL,
	[T_AN] [real] NOT NULL,
	[T_AS] [real] NOT NULL,
	[T_PN] [real] NOT NULL,
	[T_PS] [real] NOT NULL,
	[T_PM] [real] NOT NULL,
	[T_PE] [real] NOT NULL,
	[T_S_CH] [real] NOT NULL,
	[T_MAN] [real] NOT NULL,
	[T_NET] [real] NOT NULL,
	[T_RET] [real] NOT NULL,
	[T_ABS] [real] NOT NULL,
	[T_CL] [real] NOT NULL,
	[T_D] [real] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[travailler]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[travailler](
	[CODE_SECT] [int] NULL,
	[MAT_OP] [varchar](8) NULL,
	[CODE_DATE] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 20/08/2021 12:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[user1] [varchar](16) NULL,
	[pass] [varchar](16) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Contient]  WITH CHECK ADD FOREIGN KEY([CODE_FICHE])
REFERENCES [dbo].[Fiche_mens] ([CODE_FICHE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contient]  WITH CHECK ADD FOREIGN KEY([CODE_OF])
REFERENCES [dbo].[ORDF] ([CODE_OF])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fiche_mens]  WITH CHECK ADD FOREIGN KEY([code_date])
REFERENCES [dbo].[date] ([CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fiche_mens]  WITH CHECK ADD FOREIGN KEY([MAT_OP])
REFERENCES [dbo].[operateur] ([MAT_OP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDF]  WITH CHECK ADD FOREIGN KEY([CODE_PROD])
REFERENCES [dbo].[produit] ([CODE_PROD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[travailler]  WITH CHECK ADD FOREIGN KEY([CODE_SECT])
REFERENCES [dbo].[section] ([CODE_SECT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[travailler]  WITH CHECK ADD FOREIGN KEY([CODE_DATE])
REFERENCES [dbo].[date] ([CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[travailler]  WITH CHECK ADD FOREIGN KEY([MAT_OP])
REFERENCES [dbo].[operateur] ([MAT_OP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
